<section class="users-login">

  <header class="page-header">
    <h1>User Login Page</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for :session, url: '/login' do |form| %>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: 'form-control', name: 'email' %>
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control', name: 'password' %>
        </div>

        <%= form.submit 'Login', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>